html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#camera, #camera-view, #camera-sensor, #camera-output {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera-view, #camera-sensor, #camera-output {
    transform: scaleX(-1);
    filter: FlipH;
}

#camera-trigger {
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 100px);
}
.taken {
    height: 100px !important;
    width: 100px !important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: white;
    color: black;
}

input:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
